<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

        <h1>Welcome to Earth!</h1>
        <br>
        <img src="/img/earth.jpg" alt="Earth" class="planet" width="300px" height="300px" />
        <br><br>
        <h3>Facts about Earth:</h3>
        <div>
            <p>Earth is the only planet in our solar system that is not named after a Roman god or goddess.</p>
            <p>Earth is the third planet from the Sun.</p>
            <p>Earth is approximately 318 times smaller than Jupiter.</p>
        </div>
        

<%- include("partials/footer.ejs") %>