<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
    
        <h1>Welcome to Venus!</h1>
        <br>
        <img src="/img/venus.jpg" alt="Venus" class="planet" width="300px" height="300px" />
        <br><br>
        <h3>Facts about Venus:</h3>
        <div>
                <p>Venus is named after the Roman goddess of love and beauty.</p>
                <p>Venus is the second planet from the sun.</p>
                <p>Venus is the second brightest natural object in the sky.</p>
        </div>
        
<%- include("partials/footer.ejs") %>